$PRIMARY_COLOR: #3bb273;
$SECONDARY_COLOR: #7c9eb2;
$DANGER_COLOR: #dd7373;
$SUCCESS_COLOR: #2ca242ff;

$TEXT_COLOR: #2d2d2d;
$TEXT_COLOR_INVERSE: #ededed;

$BG_COLOR_PRIMARY: #fbfbfb;
$BG_COLOR_INVERSE: hsla(230, 11%, 19%, 1);
